.container {
  width: 80vw;
  height: 100vh;
}

.editor {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.input {
  margin-top: 5vh;
  justify-self: flex-start;

  height: 10vh;
  width: 100%;

  resize: none;


  font-size: 2vw;
  font-family: inherit;



}

.textLayout {
  word-wrap: break-word;
}